@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:300,regular,500,600,700);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* @font-face {
		font-family: "Neurial Grotesk", sans-serif;
		src: url(./fonts/NeurialGrotesk-Regular.otf);
	} */
	body {
		/* @apply font-neurial; */
		font-family: "Space Grotesk", sans-serif;
	}

	label {
		@apply block;
	}

	th {
		@apply uppercase;
	}

	.page-enter-active,
	.page-leave-active {
		transition: opacity 0.5s;
	}

	.page-enter,
	.page-leave-active {
		opacity: 0;
	}
}

/* @layer components { */

/* } */
